.container {
    display: grid;

    grid-area: header;

    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: 1px;
    padding: 1px;
}

.item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all .3s ease-out .1s;
    border-radius: 5px;
    opacity: 1; 
    z-index:0;
    box-shadow: 3px 3px 0px 1px rgba(0, 0, 0, 0);
}

.item:is(:hover, :focus) {
    scale: 1.1;
    transition: all .3s cubic-bezier(0.5, 1.75, 0.75, 1.25);
    background-color: white;
    z-index: 1;

    box-shadow: 2px 2px hsla(180, 10%, 10%, 0.1),
    3px 3px 0px hsla(180, 20%, 20%, 0.2),
    4px 4px 0px hsla(180, 30%, 30%, 0.3),
    5px 5px 0px hsla(180, 40%, 40%, 0.4),
    6px 6px 0px hsla(180, 50%, 50%, 0.5),
    7px 7px 0px hsla(180, 60%, 60%, 0.6),
    8px 8px 0px hsla(180, 70%, 70%, 0.7),
    9px 9px 0px hsla(180, 80%, 80%, 0.8),
    10px 10px 0px hsla(180, 90%, 90%, 0.9);

    transform: translate(-13px, -13px);
}

.item.span_column {
    grid-column: span 2;
}

.item.span_row {
    grid-row: span 2;
}

.item_container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: 1px;
}

