.outer_container {
    /* opacity: 0; */
    display: grid;
    grid-area: header;

    background: transparent;

    transition: all .4s ease-out;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    grid-template-columns: auto;
    grid-template-rows: auto;
}

.outer_container:is(:hover, :focus) {
    z-index: 1;
    /* opacity: 1; */
    /* border-color: black; */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all .4s ease;
}

.header {
    grid-area: 1 / 1 / 1 / 1;

    display: flex;  
    justify-content: center;
    align-items: center;

    gap: .5rem;
}

.header a {
    color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
    
    transition: all .3s ease-out;
}

/* .header a:hover {
    background-color: black;
    transition: all .3s ease;
} */

.header a:hover .about,
.header a:hover .projects,
.header a:hover .contacts {
    /* background-color: black; */
    /* backdrop-filter: blur(10px); */
    z-index: 1;

    color: black;
    letter-spacing: -.3rem;

    text-decoration-line: underline;
    text-decoration-color: black;
    text-decoration-thickness: .1rem;
    text-shadow: 0px -15px 3px black;

    /* transform: translateY(-10px); */
    transition: all .4s ease;
}

.header a.active  .projects,
.header a.active  .contacts,
.header a.active  .about {
    color: black;
    transition: all .4s ease;
    text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1);
    letter-spacing: -.1rem;
    text-decoration-line: none;
    /* scale: 1.05; */
}

/* .outer_container:hover .contacts,
.outer_container:hover .projects,
.outer_container:hover .about{
    text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1);
} */

/* .outer_container:hover .contacts:hover,
.outer_container:hover .projects:hover,
.outer_container:hover .about:hover{
    text-shadow: 0px -15px 3px red;
} */

.about,
.projects,
.contacts {
    z-index: 2;

    font-size: 2rem;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    /* text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); */

    letter-spacing: -.1rem;
    cursor: pointer;

    transition: all .4s ease;
}

/* .about:hover,
.projects:hover,
.contacts:hover {
    z-index: 1;

    color: red;
    letter-spacing: -.3rem;

    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-thickness: .1rem;
    

    transition: all .4s ease;
} */

.container {
    display: grid;
    grid-area: 1 / 1 / 1 / 1;

    border-radius: 5px;
    background: transparent;

    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: 1px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    /* padding: 1px; */
}

.item {
    z-index: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all .3s ease-out .1s;
    border-radius: 5px;
    opacity: 1;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.item:is(:hover, :focus) {
    z-index: 1;

    /* scale: 1.1; */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    transform: translate(-10px, -10px);

    transition: all .3s cubic-bezier(0.5, 1.75, 0.75, 1.25);
}

.item.span_column {
    grid-column: span 2;
}

.item.span_row {
    grid-row: span 2;
}

.item_container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: 1px;
}