.app {
  display: grid;

  width: 50vw;
  height: 90vh;
  
  margin:3vh auto;
  padding: 1.9vh;
  
  grid-template-areas: 
    "header header header"
    "sidebar main main"
    "sidebar main main"
  ;

  grid-template-rows: .2fr 1fr;
  grid-template-columns: .5fr 1fr 1fr;

  gap: .4rem;
} 