.navlink, .active {
    transition: all .4s ease;
    display: flex;

    /* border: 1px solid black; */
    border-radius: 5px;

    justify-content: center;
    align-items: center;
    height: 40px;

    color: rgba(0, 0, 0, 0.1);
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;

    letter-spacing: -.1rem;

}

.navlink:is(:hover){
    transition: all .4s ease;
    cursor: pointer;
    color: black;
    letter-spacing: -.3rem;
    text-decoration-line: underline;
    text-decoration-color: black;
    text-decoration-thickness: .1rem;
    text-shadow: 0px -15px 3px black;
}

.active {
    text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: black;
}