a {
    transition: all .4s ease;
    display: flex;

    /* border: 1px solid transparent; */
    border-radius: 5px;
    /* border-top: 1px solid transparent; */
    /* border-bottom: 1px solid transparent; */

    justify-content: center;
    align-items: center;

    color: rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    /* text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.05); */

    /* box-shadow: 0px 0px 10px transparent; */

    letter-spacing: -.1rem;
    /* padding: 20px; */
}

a:is(:hover){
    /* scale: 1.2; */
    transition: all .4s ease;
    cursor: pointer;
    color: black;
    /* background-color: white; */
    /* border-color:red; */
    letter-spacing: -.2rem;
    /* font-size: 3rem; */
    text-decoration-line: underline;
    text-decoration-color: black;
    text-decoration-thickness: .1rem;
    text-shadow: 0px -15px 3px black;

    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    /* transition: all .3s ease; */
}

.active {
    color: black;
    transition: all .4s ease;
    text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1);
}